.App {
    text-align: center;
}

.App-header {
    /*background-color: #282c34;*/
    background: cadetblue;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    font-weight: 900
}

.guess-row {
    height: 50px;
}

.guess-row div,
.guess-row div input {
    height: 100%;
}

.pressed {
    background: grey !important;
    box-shadow: none;
}

.no-hightlight {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.active {
    border-bottom: 1px solid green;
}

.correct {
    background: green !important;
    color: white !important;
}

.close {
    background: rgb(201, 177, 45) !important;
}

.unavailable {
    background: #454545;
}

.yes, .no {
    color: white !important;
}

.yes {
    background: green !important;
}

.no {
    background: #282c34 !important;
}